certifi==2019.3.9
chardet==3.0.4
Click==7.0
Django==2.2.2
elasticsearch==5.5.3
elasticsearch-dsl==5.4.0
get==2019.4.13
html2text==2018.1.9
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
jusText==2.2.0
langdetect==1.0.7
language==0.6
lxml==4.3.4
MarkupSafe==1.1.1
post==2019.4.13
public==2019.4.13
python-dateutil==2.8.0
pytz==2019.1
query-string==2019.4.13
regex==2019.6.8
request==2019.4.13
requests==2.22.0
requests-file==1.4.3
six==1.12.0
sqlparse==0.3.0
tldextract==2.2.1
urllib3==1.25.3
Werkzeug==0.15.4
